@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "InsertItem";
}
<style>
    .buttonn{
        background-color :lightblue;
        color:white;
    
      
    }
</style>
<h2>Insert Employee Detail</h2>
<div>
<label id="empid" for="empid">EmpID</label>
<input  type="text" name="empi" placeholder="Id" />
<br />
<br />
<label id="empname" for="empfirstname">FirstName</label>
<input type="text" name="empfirstname" placeholder="FirstName" />
<br />
<br />
<label id="empname2" for="emplastname">LastName</label>
<input type="text" name="emplastname" placeholder="LastName" />
<br />
<br />
<label id="empgen" for="empgender">Gender</label>
<input type="text" name="empgender" placeholder="Gender" />
<br />
<br />
</div>
<div>
<button class="buttonn" type="button" >Login</button>
</div>



